@import "tailwindcss";

:root {
  /* Navy/Blue (Main colors) */
  --color-navy-900: #090d56;
  --color-navy-800: #3a3d78;
  --color-navy-600: #6b6e9a;
  --color-navy-400: #9d9ebc;
  --color-navy-200: #cecfdd;
  --color-navy-100: #e6e7ee;

  /* Beige/Cream (Background colors) */
  --color-beige-100: #f9f4eb;
  --color-beige-200: #f1e4cd;

  /* Accent colors */
  --color-green-500: #62bb47;
  --color-yellow-500: #fcb828;
  --color-orange-500: #f6821e;
  --color-red-500: #e1393e;
  --color-purple-500: #963e97;
  --color-cyan-500: #009ddd;
}
